div {
  padding: 0 !important;
}

#a {
	width:100%;
	height:200px;
  	line-height:200px;
	text-align: center;
  	vertical-align: middle;
	background-color: darkgrey;
}

#b {
	width: 100%;
	text-align: center;
	line-height:400px;
  	min-height: 400px;
	background-color: green;
	vertical-align: middle;
}

#c {
	width:100%;
	height:200px;
	line-height:200px;
	text-align: center;    
	background-color: pink;
	vertical-align: middle;
}

#d{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: yellow;
	vertical-align: middle;
}

#e {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: orange;
	vertical-align: middle;
}